.chzn-container-single .chzn-search input{
    min-width: 88% \9;
}

.login img{
    border: none\9;
}

/****Bolt Image Gallery  1:1  IE8 CSS Starts Here ***/

.bolt-effect:hover .mask {
    width:20px\9;
    height:20px\9;
    background:url(/img/link.png) center center no-repeat \9;
    position:relative\9;
    top:-56px\9;
    left: 68px\9;
}

.bolt-effect a.info {
    position:relative\9;
    top: 0\9;
    left:0\9;
    background:none\9;
}

.bolt-view .mask{
    position: relative \9;
}

/****Bolt Image Gallery IE8 CSS Ends Here ***/

.i_action_view, .i_action_delete{
    padding: 5px\9;
    width: 10px\9;
    margin: 0\9;
}

.btn-mini{
    padding-right: 11px\9 !important;
    padding-left: 1px\9 !important;
}